*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (min-width: 280px) {
  .main-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100svh;
    padding: 1em 0;
    position: relative;
  }
  .main-app .graph-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: -100;
    background-image: url(../images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-app .faq-accordion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 40%;
    width: 85%;
    border-radius: 0.8em;
    background-color: hsl(0, 0%, 100%);
    padding: 1.5em;
  }
  .main-app .faq-accordion .header-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.25em;
  }
  .main-app .faq-accordion .header-area__header {
    font-size: 2rem;
    margin-left: 0.5em;
  }
  .main-app .faq-accordion .faq-area {
    height: 100%;
  }
  .main-app .faq-accordion .faq-area .accordion-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-app .faq-accordion .faq-area .accordion-container__content {
    color: hsl(292, 16%, 49%);
    font-size: 0.75rem;
    line-height: 150%;
    display: none;
  }
  .main-app .faq-accordion .faq-area .accordion-container .show-answer {
    display: block;
  }
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question {
    margin: 0 0 0.75em 0;
    padding: 0.5em 0;
    border: none;
    font-family: inherit;
    text-align: left;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question__question {
    font-size: 0.75rem;
  }
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question__minus-icon {
    display: none;
  }
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question .remove-icon {
    display: none;
  }
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question .show-icon {
    display: block;
  }
}
@media (min-width: 325px) {
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question__question {
    font-size: 0.95rem;
    padding-right: 0.5em;
  }
}
@media (min-width: 350px) {
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question__question {
    font-size: 1rem;
  }
}
@media (min-width: 375px) {
  .main-app .faq-accordion .faq-area .accordion-container__content {
    color: hsl(292, 16%, 49%);
    font-size: 0.875rem;
  }
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question__question {
    font-size: 1rem;
    padding-right: 1.75em;
  }
}
@media (min-width: 425px) {
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question__question {
    font-size: 1rem;
    padding-right: 3.5em;
  }
}
@media (min-width: 475px) {
  .main-app {
    height: 100lvh;
  }
  .main-app .graph-area {
    background-image: url(../images/background-pattern-desktop.svg);
  }
  .main-app .faq-accordion {
    max-width: 560px;
  }
  .main-app .faq-accordion .faq-area .accordion-question__question {
    font-size: 1rem;
    padding-right: 3.5em;
  }
  .main-app .faq-accordion .faq-area .accordion-container__content {
    padding-right: 0.1em;
    margin-bottom: 1.75em;
  }
  .main-app .faq-accordion .faq-area .accordion-container .show-answer {
    display: block;
  }
}
body {
  min-height: 100svh;
  font-family: "Work Sans", sans-serif;
}/*# sourceMappingURL=style.css.map */