*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (min-width: 280px) {
  .main-app {
    height: 100svh;
    position: relative;
  }
  .main-app .graph-area {
    height: 35%;
    background-image: url(../images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-app .faq-accordion {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 60svh;
    width: 85%;
    border-radius: 0.8em;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    z-index: 100;
    padding: 1.25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-app .faq-accordion .header-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 0.25em;
  }
  .main-app .faq-accordion .header-area__header {
    font-size: 2rem;
    margin-left: 0.5em;
  }
  .main-app .faq-accordion .faq-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100svh;
  }
  .main-app .faq-accordion .faq-area .accordion-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-app .faq-accordion .faq-area .accordion-container__content {
    color: hsl(292, 16%, 49%);
    font-size: 0.75rem;
    line-height: 150%;
  }
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question {
    margin: 0 0 0.75em 0;
    padding: 0.5em 0;
    border: none;
    font-family: inherit;
    text-align: left;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question__question {
    font-size: 0.75rem;
  }
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question__minus-icon {
    display: none;
  }
  .main-app .white-area {
    background-color: hsl(275, 62%, 92%);
    height: 65%;
  }
}
@media (min-width: 325px) {
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question__question {
    font-size: 0.95rem;
    padding-right: 0.5em;
  }
}
@media (min-width: 350px) {
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question__question {
    font-size: 1rem;
  }
}
@media (min-width: 375px) {
  .main-app .faq-accordion .faq-area .accordion-container__content {
    color: hsl(292, 16%, 49%);
    font-size: 0.875rem;
  }
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question__question {
    font-size: 1rem;
    padding-right: 1.75em;
  }
}
@media (min-width: 425px) {
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question__question {
    font-size: 1rem;
    padding-right: 3.5em;
  }
}
@media (min-width: 467px) {
  .main-app .faq-accordion {
    max-width: 530px;
  }
  .main-app .faq-accordion .faq-area .accordion-container__content {
    padding-right: 0.1em;
  }
  .main-app .faq-accordion .faq-area .accordion-container .accordion-question__question {
    font-size: 1rem;
    padding-right: 3.5em;
  }
}
body {
  min-height: 100svh;
  font-family: "Work Sans", sans-serif;
  font-size: 1.25rem;
}/*# sourceMappingURL=style.css.map */