@use "./reset" as *;
@use "./colors" as *;
@use "./font" as *;
@use "./mixin" as *;
@media (min-width: 475px) {
  .main-app {
    .faq-accordion {
      max-width: 530px;
      .faq-area {
        .accordion-container {
          &__content{
           padding-right: .1em;
          }
          .accordion-question {
            &__question {
              font-size: 1rem;
              padding-right: 3.5em;
            }
          }
        }
      }
    }
  }
}

