@mixin image{
    background-image: url(../images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover; 
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin flex-row{
    display: flex;   
    align-items: center;
}