@mixin image-mobile{
    background-image: url(../images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover; 
}
@mixin image-desktop{
    background-image: url(../images/background-pattern-desktop.svg);
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
}
@mixin flex-center-column{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-row{
    display: flex;   
    align-items: center;
}
@mixin flex-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}