@use "./reset" as *;
@use "./colors" as *;
@use "./font" as *;
@use "./mixin" as *;
@media (min-width: 280px) {
  .main-app {
    height: 100svh;
    position: relative;
    .graph-area {
      height: 35%;
      @include image;
    }
    .faq-accordion {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 60svh;
      width: 85%;
      border-radius: 0.8em;
      background-color: $white;
      position: absolute;
      z-index: 100;
      padding: 1.25em;
      @include flex-column;
      .header-area {
        @include flex-row;
        width: 100%;
        margin-bottom: 0.25em;
        &__header {
          font-size: $header-size;
          margin-left: 0.5em;
        }
      }
      .faq-area {
        @include flex-column;
        height: 100svh;
        .accordion-container {
          @include flex-column;
          &__content{
            color: $Grayish-purple;
            font-size: 0.75rem;
            line-height: 150%;
            // display: none;
          }
          .accordion-question {
            margin: 0 0 0.75em 0;
            padding: 0.5em 0;
            border: none;
            font-family: inherit;
            text-align: left;
            cursor: pointer;
            @include flex-space-between;
            &__question {
              font-size: 0.75rem;
            }
            &__minus-icon {
              display: none;
            }
          }
        }
      }
    }
    .white-area {
      background-color: $light-pink;
      height: 65%;
    }
  }
}
@media (min-width: 325px) {
  .main-app {
    .faq-accordion {
      .faq-area {
        .accordion-container {
          .accordion-question {
            &__question {
              font-size: .95rem;
              padding-right: .5em;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 350px) {
  .main-app {
    .faq-accordion {
      .faq-area {
        .accordion-container {
          .accordion-question {
            &__question {
              font-size: 1rem;

            }
          }
        }
      }
    }
  }
}
@media (min-width: 375px) {
  .main-app {
    .faq-accordion {
      .faq-area {
        .accordion-container {
          &__content{
            color: $Grayish-purple;
            font-size: 0.875rem;
          }
          .accordion-question {
            &__question {
              font-size: 1rem;
              padding-right: 1.75em;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 425px) {
  .main-app {
    .faq-accordion {
      .faq-area {
        .accordion-container {
          .accordion-question {
            &__question {
              font-size: 1rem;
              padding-right: 3.5em;
            }
          }
        }
      }
    }
  }
}