@use "./reset" as *;
@use "./colors" as *;
@use "./font" as *;
@use "./mixin" as *;
body {
  height: 100svh;
}
@media (min-width: 280px) {
    .main-app{
        height: 100svh;
        background-color: blue;
    }
}
@media (min-width: 325px) {
    p {
      background-color: blue;
      color: red;
    }
}