@use "./reset" as *;
@use "./colors" as *;
@use "./font" as *;
@use "./mixin" as *;
@media (min-width: 280px) {
  .main-app {
    @include flex-center;
    height: 100svh;
    padding: 1em 0;
    position: relative;
    .graph-area {
      position: absolute;
      top: 0;left: 0;
      width: 100%;
      height: 40%;
      z-index: -100;
      @include image-mobile;
    }
    .faq-accordion {
      @include flex-center-column;
      min-height: 40%;
      width: 85%;
      border-radius: 0.8em;
      background-color: $white;
      padding: 1.5em;
      .header-area {
        @include flex-row;
        margin: 0.25em;
        &__header {
          font-size: $header-size;
          margin-left: 0.5em;
        }
      }
      .faq-area {
        height: 100%;
        .accordion-container {
          @include flex-center-column;
          &__content {
            color: $Grayish-purple;
            font-size: 0.75rem;
            line-height: 150%;
            display: none;
          }
          .show-answer {
            display: block;
          }
          .accordion-question {
            margin: 0 0 0.75em 0;
            padding: 0.5em 0;
            border: none;
            font-family: inherit;
            text-align: left;
            cursor: pointer;
            @include flex-space-between;
            &__question {
              font-size: 0.75rem;
              transition: color .3s;
            }
            &__question:hover{
              color: $light-pink;
            }
            &__minus-icon{
              display: none;
            }
            .remove-icon{
              display: none;
            }
            .show-icon {
              display: block;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 325px) {
  .main-app {
    .faq-accordion {
      .faq-area {
        .accordion-container {
          .accordion-question {
            &__question {
              font-size: 0.95rem;
              padding-right: 0.5em;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 350px) {
  .main-app {
    .faq-accordion {
      .faq-area {
        .accordion-container {
          .accordion-question {
            &__question {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 375px) {
  .main-app {
    .faq-accordion {
      .faq-area {
        .accordion-container {
          &__content {
            color: $Grayish-purple;
            font-size: 0.875rem;
          }
          .accordion-question {
            &__question {
              font-size: 1rem;
              padding-right: 1.75em;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 425px) {
  .main-app {
    .faq-accordion {
      .faq-area {
        .accordion-container {
          .accordion-question {
            &__question {
              font-size: 1rem;
              padding-right: 3.5em;
            }
          }
        }
      }
    }
  }
}
